:root{
	color:#1C1C1BFF;
}
body{
	margin-left:0px; margin-right:0px;
}

nav{
	position:fixed;
	top:0px;
	/* ? */ 
	width:100%;
	z-index:2; /*스크롤 했을때 가리기*/
}
h1{
  font-size: 45px; text-align: center;
  width: 100%; margin:0px; padding:20px;
	background-color: white;
}
ul{
	margin: 0px; padding-left: 0px;
  columns: 3;
	width:100%;
}
#menu1{
	background-color: #F7CED7FF;
}
#menu2{
	background-color: #F99FC9FF;
}
#menu3{
	background-color: #F7CED7FF;
}
nav a{
  color:inherit; /*root color 받기*/ text-decoration: none; /*언더바 없애기*/
}
li{
	list-style-type: none;
	margin-right: -16px; padding: 0px;
	text-align: center; font-size: 25px; 
}

.under_Menu{
	position:relative; /*relative 와 absolute 의 차이: normal flow에 관련 있느냐 없느냐. absolute is locked to closest positioned ancestor absolute는 normal flow 에서 제거됨
	relative는 top:100px 같은 것을 쓸수 있음  
	https://www.w3schools.com/cssref/tryit.asp?filename=trycss_position2*/
	top:133px;
  display: grid;
  grid-template-columns: 200px 80%;
}
/*class는 복수의 요소에 적용할때->한 문서에 여러번 사용가능, 하나의 요소에 여러 class를 지정할수 있음 ex- class="class1 class2"*/
h2{
	background-color:#EF6079FF;
  text-align: center;
	margin: 0px; padding: 30px 10px 10px 10px; height:100vh;
	z-index:1;
}
.contents{
	/*id는 단하나의 요소에 적용할때->한 문서에 한번만 사용가능, class보다 우선순위 높음*/
  padding: 20px;
	display:block;
}
/***********************V index V***********************/
#contents_index{
	left: 200px; margin: 15px; 
	display: grid;
	grid-template-rows: 1fr 5fr 1.5fr;
	grid-template-columns: 2fr minmax(auto, 200px);
	grid-template-areas: 
		"deathly_clock deathly_clock" 
		"space_nav n_contents" 
		"plans plans";
	grid-gap: 30px;
		
}
#deathly_clock{
	grid-area: deathly_clock;
	background-color: grey;
}
#space_nav{
	grid-area: space_nav;
	border: solid;
}
#space_nav figcaption{
	color:white; background-color: black;
}
#n_contents{
	grid-area: n_contents;
	background-color: yellow;
}
#plans{
	grid-area: plans;
	background-color: skyblue;
}
/***********************^ index ^***********************/


/***********************V interest V***********************/
#lastorigin{
	background-color: grey;
	border-radius:15px;
	display: flex;
	height: 250px;
	flex-direction: column;
	justify-content: space-evenly; /*main axis*/ 
	align-items: center; /*cross axis*/
	flex-wrap: wrap; /*item들이 많을 때 밖으로 안나가게 해준다*/
}
#lo_home{
	background-color: #2F4F4F;	
	border-radius: 100px;
}
#lo_unit{
	background-color: #708090;
}
#lo_map{
	background-color: #C0C0C0;
}

/***********************^ interest ^***********************/


@media(max-width:750px){
  .under_Menu{
    display: block;
  }
  h2{
		width: 100vw;
		height:40px;
  }
}

/*
style element 우선순위: body< class 중 style에 나중에 선언된것< id< inline으로 선언된것< !important
justify-행방향관련 align-열방향관련 self: item개별적 items:container 안의 모든 item 관련
*/
